@charset "UTF-8";
@import "css/sass";
body{
  font-weight: 300;
}
header{
  margin-top: 26px;
  margin-bottom: 18px;
  .col-lg-2{

  }
  .input-group{
    *{
      font-size: 12px;
      line-height: 14px;
    }
    .form-control{
      border: 1px solid $gray;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      height: 30px;
    }
  }
  .input-group-append .btn{
    color: $white;
    background: $blue;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0px 15px;
    &:hover{
      border-color: $blue;
      color: $blue;
      background: $white;
    }
  }
  .header_contacts{
    a{
      font-size: 14px;
      color: #000;
      line-height: 128.69%;
      &:hover{
        color: $blue;
        text-decoration: none;
      }
    }
    .col-lg-7{
      p{
        font-size: 14px;
        line-height: 128.69%;
      }
    }
  }
  .social_icons{
    margin-top: 20px;
    .row{
      padding-right: 27px;
    }
    .soc_link{
      position: relative;
      line-height: 1;

    }
  }
  .col-lg-1{
    p{
      font-size: 13px;
      margin-top: 6px;
    }
  }
  .svg_head:hover{
    *{
      fill: $blue;
      color: $blue;
    }
  }
}
nav.nav_panel{
  display: flex;
  align-items: center;
  background: $black;
  height: 60px;
  .toggler{
    padding-left: 15px;
    span{
      width: 15px;
      height: 2px;
      background: #fff;
      margin-bottom: 2px;
    }
    span:last-child{
      margin-bottom: 0;
    }
  }
  a{
    color: #fff;
    font-size: 16px;
    line-height: 128.69%;
    &:hover{
      color: $blue;
      text-decoration: none;
      span{
        background: $blue;
      }
    }
  }
}

.accordeon,
.accordeon ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.accordeon li {
  margin: 0;
  padding: 0;
}
.accordeon > li{
  border: 1px solid $black;
  border-top: 0px;
  border-radius: 0px 3px 3px 0px;
  position: relative;
  &:hover{
    ul{
      display: flex;
      flex-wrap: wrap;

    }
    @media (min-width: 992px){
      a i{
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }
  }
}
.accordeon> li:first-child{
  border-top: 1px solid #131313;
}
.accordeon > li > a {
  color: #333;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  padding-left: 10px;
  padding-right: 7px;
  text-decoration: none;
  width: 100%;
  i{
    transition: 0.3s linear;
  }
}
.accordeon > li.slide > a,
.accordeon > li.active > a {
  i{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.accordeon > li > ul {
  display: none;
  width: 950px;
  background: #FFF;
  padding: 10px 0;
  position: absolute;
  z-index: 2;
  left: 160px;
  top: 0;
}

.accordeon > li > ul > li {
  padding: 5px 30px;
  text-decoration: none;
  display: block;
  color: #333;
  width: 33.3333%;
  flex: 0 0 33.3333%;
  a{
    color: $black;
    &:hover{
      color: $blue;
      text-decoration: none;
    }
  }
  img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}

.slick-track,.slick-initialized .slick-slide,.slick-list,.main_slider{
  height: 100%;
}
.slick-initialized .slick-slide {
  outline: none;
}
.slick-prev, .slick-next{
  display: flex!important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $white;
  z-index: 1;
  .fal{
    font-size: 23px;
    color: #000;
  }
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
  background: $blue;
  .fal{
    color: $white;
  }
}
.slick-prev:before, .slick-next:before{
  content: none;
}
.slick-prev{
  left: 22px;
}
.slick-next{
  right: 22px;
}
.about{
  margin: $horizontal_margin 0;
  padding: $horizontal_margin 0;
  p{
    font-size: 18px;
    line-height: 128.69%;
    color: $white;
    margin-bottom: 16px;
    margin-top: 9px;
  }
}
.popular_product{
  margin-bottom: 77px;
  h3{
    font-size: 18px;
    line-height: 128.69%;
    margin-bottom: 20px;
  }

}
.product_card{
  .content_product{
    border: 1px solid $blue;
    border-radius: 3px;
    .name_product{
      position: absolute;
      bottom: 0;
      min-height: 62px;
      background: rgba(253, 253, 253, 0.6);
      font-size: 16px;
    }
  }
  .price_add_basket{
    margin-top: 12px;
    .price{
      font-size: 18px;
      display: flex;
      align-items: center;
    }
    .btn{
      width: 100%;
      font-size: 14px;
      color: #fff;
      background: $blue;
      padding: 6px 15px;
      &:hover{
        border-color: $blue;
        background: #fff;
        color: $blue;
      }
    }
  }
}
///////star css
.starrr {
  display: inline-block; }
.starrr a {
  font-size: 13px;
  padding: 0 1px;
  cursor: pointer;
  color: $blue;
  text-decoration: none; }


////// end star css
footer{
  background: $black;
  padding-top: 25px;
  img{
    width: 154px;
    height: 41px;
  }
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    li{
      a{
        line-height: 220%;
      }
    }
  }
  a,p {
    font-size: 14px;
    color: $white;
  }
  a:hover {
    color: $blue;
    text-decoration: none;
  }
  .social_icons{
    margin-top: 25px;
  }
  .card_block{
    .col-lg-6{
      margin-top: 18px;
    }
  }
  .oferta{
    color: $white;
    margin-bottom: 22px;
    margin-top: 25px;
    font-size: 20px;
  }
}
// page catalog
.catalog{
  margin-top: 23px;
  .catalog_products{
    .breadcrumb{
      margin-top: 0;
    }
    h1{
      text-transform: none;
      font-weight: normal;
      font-size: 18px;
    }
    .form_sort{
      form{
        position: relative;
        i{
          position: absolute;
          top: 4px;
          right: 3px;
        }
      }
    }
    select{
      position: relative;
      min-width: 114px;
      height: 26px;
      padding-left: 15px;
      padding-bottom: 2px;
      -webkit-appearance: none;
      border: none;
      background: #fff;
      /* for FF */
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      /* for IE */
      -ms-appearance: none;
      appearance: none!important;
      &:focus{
        outline: none;
      }
    }
    select::-ms-expand {
      display: none;
    }
    .list_product{
      margin-top: 18px;
      .product_card{
        margin-bottom: 47px;
      }
    }
  }
}
// fucking filter
.bx_filter_vertical{
  background: $white;
  padding-top: 13px;
  margin-top: 11px;
  -webkit-box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.05);
  .bx_filter_container{
    padding: 0 17px;
  }
  *{
    font-size: 14px;
  }
  .bx_filter_container {
    .bx_filter_container_title{
      display: block;
      font-weight: 600;
      font-size: 14px;
      line-height: 128.69%;
      margin-bottom: 20px;
    }
    .bx_input_container{
      label{
        padding-right: 8px;
      }
      input{
        border-radius: 3px;
        border: 1px solid $black;
        width: 63px;
        line-height: 15px;
      }
    }
  }
  .bx_filter_param_area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .bx_ui_slider_track {
    margin: -10px 10px 13px;
    background: $blue;
    height: 3px;
    position: relative;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .35), inset 0 1px 1px 0 rgba(0, 0, 0, .15);
    border-radius: 3px;
  }
  .bx_ui_slider_range {
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: $black;
  }
  .bx_ui_slider_handle {
    width: 7px;
    height: 7px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    border-radius: 50%;
  }
  .bx_ui_slider_handle.left {
    background: $black;
    margin-left: -5px;
  }
  .bx_ui_slider_handle.right {
    background: $black;
    margin-right: -5px;
  }
  .filters{
    margin-bottom: 20px;
    padding: 0 17px;
    .fil_name{
      font-weight: 600;
      font-size: 14px;
    }
    .bx_filter_del_button{
      background: $blue;
      border: 1px solid $blue;
      color: $white;
      padding: 1px 7px;
      &:hover{
        background: $white;
        color: $blue;
      }
    }
  }
  .bx_filter_container{
    .bx_filter_container_title{
      cursor: pointer;
    }
    .bx_filter_container_modef{
      float: right;
    }
    .bx_filter_block{
      display: none;
      flex-direction: column;
    }

  }
  .bx_filter_container.active{
    .bx_filter_block {
      display: flex;
    }
  }
  .bx_filter_search_button{
    width: 100%;
    background: $blue;
    border: 1px solid $blue;
    color: $white;
    &:hover{
      background: $white;
      color: $blue;
    }
  }
}
// page news list
.breadcrumb{
  background: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 22px;
  .breadcrumb-item{
    color: #000;
    font-size: 13px;
    a{
      font-size: 13px;
      color: #000;
      &:hover{
        text-decoration: none;
        color: $blue;
      }
    }
  }
}
h1{
  font-size: 16px;
  text-transform: uppercase;
}
.news_list{
  .news_item{
    position: relative;
    height: 328px;
    margin-bottom: 30px;
    h2{
      color: $white;
      position: relative;
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 15px;
      margin-left: 20px;

    }
    &:hover{
      .border_box{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 26px 12px 26px 10px;
        .absolute_link{
          position: relative;
          display: block;
          border: 1px solid $blue;
          border-bottom: 0;
        }
        &:after {
          content: "";
          width: 6px;
          height: 1px;
          position: absolute;
          left: 10px;
          background: $blue;
        }
      }
    }
    .absolute_line{
      position: absolute;
      right: 12px;
      bottom: 26px;
      background: $blue;
      height: 1px;

    }
  }
}
.plagination{
  .page_link{
    color: $black;
    padding-right: 27px;
    line-height: 10px;
  }
  .page_link.active,.page_link:hover{
    color: $blue;
    font-size: 20px;
    text-decoration: none;
  }
  .arrow_prew_page,.arrow_next_page{
    color: $black;
    padding-left: 0;
    &:hover{
      color: $blue;
      text-decoration: none;
    }
  }
  .arrow_prew_page {
    padding-right: 16px;
  }
}
// detail page news
.news_detail{
  margin-bottom: 60px;
  .img_new{
    height: 330px;
    width: 100%;
  }
  .content_news{
    h2{
      font-size: 18px;
      text-transform: uppercase;
    }
    p{
      font-size: 18px;
    }
  }
}
//contacts
.contacts{
  position: relative;
  .container{
    .col-lg-6{
      ul{
        list-style: none;
      }
      *{
        font-size: 14px;
        color: #000;
      }
      a:hover{
        color: $blue;
        text-decoration: none;
      }
    }
  }
  #map{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
  }
}
//text page
.text_page{
  margin-bottom: 50px;
  a{
    color: #212529;
    &:hover{
      color: $blue;
      text-decoration: none;
    }
  }
  p{
    font-size: 14px;
    line-height: 128.69%;
  }
  object{
    width: 100%;
    max-height: 43px;
  }
}
// catalog detail page
.card_product{
  .availability{
    font-size: 14px;
    position: relative;
    text-align: center;
    &.active:before{
      content: "";
      position: absolute;
      width: 16.25px;
      height: 0.03px;
      left: 70px;
      top: 7px;
      border: 3px solid #4DB45E;
      background: #4DB45E;
      transform: rotate(128.51deg);
    }
    &.active:after{
      content: "";
      position: absolute;
      width: 10px;
      height: 0px;
      left: 67px;
      top: 9px;
      border: 3px solid #4DB45E;
      background: #4DB45E;
      transform: rotate(36.87deg);
    }
  }
  .product_slider {
    margin-bottom: 10px;
    .slick-track {
      height: 310px;
    }
    .bg_slide{
      padding: 0 10px;
      outline: none !important;
      .slide{
        width: 100%;
        height: 100%;
      }
    }
  }
  .product_slider_nav {
    margin-bottom: 55px;
    .slick-track {
      height: 103px;
    }
    .bg_slide{
      padding: 0 10px;
      outline: none !important;
      .slide{
        width: 100%;
        height: 100%;
      }
    }
  }
  .description{
    margin-top: 37px;
    dl{
      display: block;
      dt{
        width: 200px;
      }
      dt,dd{
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
      }
    }
  }
  .select_color_or_size{
    margin-bottom: 18px;
    p{
      font-size: 12px;
      width: 100%;
    }
    .color_box{
      width: 50px;
      height: 50px;
      border: 2px solid transparent;
      border-radius: 3px;
      margin-right: 50px;
      @include animation_0_25;
      &:hover,&.active{
        @include animation_0_25;
        border-color: $blue;
      }

    }
    .size_box{
      width: 70px;
      height: 50px;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
      border: 1px solid $black;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
      @include animation_0_25;
      &:hover,&.active{
        @include animation_0_25;
        border-color: $blue;
        color: $blue;
      }
    }
  }
  .item_current_price{
    font-size: 24px;
    text-align: center;
  }
  .add_basket{
    width: 170px;
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 100%;
    color: $white;
    background: $blue;
    border: 1px solid $blue;

    &:hover{
      color: $blue;
      background: $white;
      text-decoration: none;

    }
  }
  .open_btn_credit{
    width: 170px;
    height: 40px;
    color: $blue;
    background: $white;
    margin-top: 10px;
    margin-bottom: 20px;
    &:hover{
      color: $white;
      background: $blue;
    }
  }
  .product_count{
    width: 170px;
    height: 40px;
    border: 1px solid $blue;
    .cont input{
      width: 94px;
      height: 100%;
      text-align: center;
      border: none;
      &:focus{
        outline: none;
      }
    }
    .minus{
      border-right: 1px solid $blue;
    }
    .plus{
      border-left: 1px solid $blue;
    }
    .minus,.plus{
      width: 37px;
      font-size: 12px;
      color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .detail_description{
    margin-top: 50px;
    margin-bottom: 62px;
    .heading{
      font-weight: 700;
    }
  }
}
.open-modal-btn{
  width: 268px;
  height: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 100%;
  color: $white;
  background: $blue;
  border-color: $blue;
  &:hover{
    color: $blue;
    background: $white;
  }
}
// modal css
.ask_product {
  text-align: center;
}
.cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 100;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow-x: auto;
  overflow-y: auto;
  padding: 20px;
  z-index: 200;
  max-width: 760px;
  margin: auto;
  height: max-content;
}
.content {
  display: none;
  flex-direction: column;
  max-width: 760px;
  min-width: 200px;
  width: 100%;
  position: relative;
  background-color: #FAFAFA;
  z-index: 300;
  padding: 32px 64px;
  border-radius: 3px;
  .modal_heading{
    font-size: 30px;
    line-height: 1.14286;
    padding-bottom: 31px;
    color: $black;
  }
  form{
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 32px 0;
    .form-control{
      margin-bottom: 30px;
    }
    .btn {
      width: 100%;
      color: $white;
      background: $blue;
      border-color: $blue;
      margin-bottom: 20px;
      &:hover {
        color: $blue;
        background: $white;
      }
    }
    .warning-text{
      font-size: 12px;
      text-align: center;
      a{
        color: $blue;
        &:hover{
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
  .closed{
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 25px;
    line-height: 1;
    cursor: pointer;
    @include animation_0_25;
    &:hover{
      color: $blue;
      @include animation_0_25;
    }
  }
}
.open-modal-btn {
  cursor: pointer;
}
// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {
  header{
    .col-lg-2{
      object{
        width: 100%;
      }
    }
    .header_contacts{
      .col-lg-5{
        padding-left: 0;
      }
    }
  }
  .product_card{
    .price_add_basket{
      .price {
        font-size: 15px;
      }
      .btn{
        padding: 6px 6px;
      }
    }
  }
  footer{
    .col-lg-2 {
      object {
        width: 100%;
      }
    }
  }
  //page detail product
  .card_product .availability.active:after {
    left: 41px;
  }
  .card_product .availability.active:before {
    left: 44px;
  }
  .card_product .description dl dt {
    width: 180px;
  }
  .accordeon > li > ul {
    display: none;
    width: 720px;
    background: #FFF;
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    left: 210px;
    top: 0;
  }
}
// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {
  header {
    .header_contacts {
      .col-lg-5 {
        padding-left: 15px;
      }
    }
  }
  nav.nav_panel a {
    font-size: 12px;
  }
  .main_slider .slick-track,
  .main_slider .slick-initialized .slick-slide,
  .main_slider .slick-list,
  .main_slider {
    height: 284px;
  }
  .popular_product .product_card {
    margin-right: 0;
  }
  // contacts
  .contacts{
    #map{
      position: relative;
      display: block;
      width: 100%;
      height: 400px;
      right: auto;
      top: auto;
    }
  }
  //page detail product
  .card_product{
    .description dl dt {
      width: 46%;
    }
    .availability{
      margin-right: 50%;
      margin-top: 1em;
    }
    .add_basket,.open_btn_credit{
      width: 268px;
    }
    .item_current_price{
      margin-bottom: 10px;
    }
  }
  .accordeon > li > ul {
    width: 100%;
    left: 0;
    position: relative;
  }
  .accordeon > li > ul > li {
    width: 50%;
    float: left;
  }
  .accordeon > li:hover ul {
    display: none;
    flex-wrap: wrap;
  }
  .accordeon > li.slide > ul {
  }
}
// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
  header {
    .col-lg-2 {
      object {
        width: 200px;
      }
    }
    .col-12.lh-0,p{
      text-align: center;
    }
    .social_icons{
      .row{
        padding-right:0;
        margin-bottom: 15px;
      }
    }
  }
  nav.nav_panel{
    padding: 10px 0;
    height: auto;
    a{
      font-size: 16px;
    }
    .toggler{
      padding-left: 0;
    }
    .col-lg-10{
      a{
        padding: 5px 0;
      }
    }
  }
  footer{
    .col-lg-2 object {
      width: 60px;
    }
    li,p,.oferta{
      text-align: center;
    }
    .logo_footer{
      object{
        width: 200px;
      }
    }
  }
  // contacts
  .contacts{
    #map {
      height: 350px;
    }
  }
  //page detail product

}
// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {
  // contacts
  .contacts{
    #map {
      height: 250px;
    }
  }
  //page detail product
  .content{
    padding: 16px 0;
    .modal_heading{
      padding-bottom: 0;
    }
  }
  .content form{
    padding: 16px 0;
    .form-control {
      margin-bottom: 15px;
    }
  }
  .card_product .select_color_or_size{
    justify-content: space-between;
  }
  .card_product .select_color_or_size .color_box,
  .card_product .select_color_or_size .size_box{
    margin-right: 0;
    margin-bottom: 20px;
  }
  .card_product .add_basket, .card_product .open_btn_credit {
    width: 100%;
  }
  .accordeon > li > ul > li {
    width: 100%;
  }
}








